registry=https://github.com/JeanPOULET/libraries/
//github.com/JeanPOULET/libraries/:_auth="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDDF9cppu7rxecAVfE62jJn4kYxwu++BEbSO9IgMi9H31tWDOgzlkghwitEJpgAeNPXqsFn6CWIlUtBcUo+egsPQ3bCbu20UdKlubONbsjHQgfzKI8TaNPGojeQv7ixeDWpW/AdnmItsBcSq6JeBPHfQB3XMQZ/SFPj/Xz/kRlvIqL2C/7+vz8Rv3QTD9Fw0QyOdn3ZBXB4ACb9NelW6mCGLcI8pgEiahNysKu1fGYJPbETUdgbUvxUcxO3z/Qn81NAi8cGngVWM5WUi6+GIZ5CaIByFOyq5/SqPLS0Q52ktRMWcCgKL0GwgUOwnf3/WUD9SFpxhHSVpVTRreiAau8JdZ9silkQKTkY5Y5trwkRVLBNQMLaxDEdZM1Ffn+yrevO7Sx9bTNCa0Uhjt0/nQ6J3HtWo68xuE4s0kV6dNdDCsFBfZuCmgFCPKjJgKu4MJUVoS71UR3JZgPVo9nxLdJc9ONR4h/0nVJ4lMLkPRu0yjbbsX4uDN48oBHd89uezZh9tM+GA4FMqES7zyj1cYpkDxjIX3GYW9a8HhPUCPQqk9ufm4x8eb7mQaSP6nY5n7PG6aJ1pm1jSfJAajv9w3Wt2ka5hbEsaT9DK5UAkFrJmlPyAW3foUsVhOnUFJKYSLQLVxI6gpigZpa6xD4fYq33WXT/Bu71HUQ6BecwnlkbOQ== matba@jeanpoule"
